<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174911050909-e851ltvtdtmtag7tlsah4lcuqovhc4bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174911050909-e851ltvtdtmtag7tlsah4lcuqovhc4bd</string>
	<key>API_KEY</key>
	<string>AIzaSyDGG9QUflwzL7-rBEv-J0mimPFb-UblvGg</string>
	<key>GCM_SENDER_ID</key>
	<string>174911050909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireshipapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-21241</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-21241.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174911050909:ios:b7942342365d161f0e3074</string>
</dict>
</plist>